@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

main {
    margin-top: 86px;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    border-radius: 10px;
    font: 'Heebo';
    background-color: white;
    border: solid 1px black;
    margin-left: 3px;
    margin-right: 3px;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:active {
    border: inset 1px grey;
}

nav {
    display: flex;
    justify-content: left;
    background-color:rgb(126, 126, 126);
    border-bottom: black 2px solid;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1;
}

nav a {
    margin: 20px;
    color: white;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
}

.viewNav {
    display: none;
}


@media only screen and (max-width: 580px) {
    nav {
        flex-direction: column;
        transform: translateY(-180px);
        transition-property: transform;
        transition-duration: 150ms;
    }

    nav a {   
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .viewNav {
        display: block;
        text-align: right;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    nav:hover {
        transform: translateY(0);
    }

}

nav a:active {
    color: lime;
}

.flagBanner {
    margin-top: 150px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
}

.flagBanner img {
    height: 20px;
}

.nameFlagDisplay {
    border: black 3px solid;
    border-radius: 10px;
    background-color:rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 20px;
    text-align: right;
    perspective-origin: 70% 30%;
    perspective: 1500px;
}

.nameFlagDisplay img {
    max-height: 300px;
    max-width: 95%;
    transform: rotateY(-20deg) rotateX(10deg);
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.nameFlagDisplay img:hover {
    transform: rotateY(0deg);
}

.knownAndUnknownFlags {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.memFlagList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memorizedFlag,
.unmemorizedFlag {
    background-color: rgb(230, 230, 230);
    margin: 10px;
    padding:10px; 
    width: 120px;
    text-align: center;
}

.memorizedFlag img,
.unmemorizedFlag img {
    max-width: 90%;
}

.cardWrap {
    margin: 20px;
    height: 250px;
    width: 400px;
    transform-style: preserve-3d;
    text-align: center;
    perspective: 500px;
    perspective-origin: 50% 50%;
   
}

@media only screen and (max-width: 475px){

    .cardWrap {
        margin: 20px;
        width: 90%;
    }
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 200ms;
    border-radius: 20px;
}

.card div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px black solid;  
}



.cardFront img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    transform: rotateY(180deg);
}


.cardBack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBack img {
    max-height: 50%;
    display: block;
    margin: 20px;
}


.cardBack {
    transform: translateZ(1px);
}

.cardBack span {
    width: 100%;
}



.quizBody {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-items: center;
}

.quizBody div {
    display: inline-block;
    margin: 0 auto;
}

.quizOption img {
    height: 100px;
    box-shadow: 2px 2px 2px 2px rgba(129, 127, 127, 0.295);
    margin-left: 10px;
    margin-right: 10px;
    transition-property: border;
    transition-duration: 100ms;
}

.quizOption img:hover {
    border: 5px solid lime;
}

.quizOption img:mouseout {
    border: none;
}

.quizInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.questionContent {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.answerOptions {
    display: flex;
    flex-wrap: wrap;
}


footer {
    bottom: 0;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color:rgba(129, 127, 127, 0.295)
}

footer h3 { 
    margin-right: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

footer a{
    color: hotpink;
}

